# Weight Management Project - Machine Learning

This notebook applies a Linear Regression model to predict tomorrow's weight based on today's habits.

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
df = pd.read_csv("weight_mgmt_dataset.csv")
df["Date"] = pd.to_datetime(df["Date"], errors='coerce')
print("Available columns:", df.columns.tolist())
df.head()

Available columns: ['Date', 'Calories', 'Protein (g)', 'Fat (g)', 'Carbs (g)', 'Gym (min)', 'Weight (kg)', 'Sleep Hours', 'Water Intake (L)', 'Step Count', 'Exercise Minutes']

,Date,Calories,Protein (g),Fat (g),Carbs (g),Gym (min),Weight (kg),Sleep Hours,Water Intake (L),Step Count,Exercise Minutes
0,2025-03-01,2309.0,91.0,63.0,344.0,60.0,63.0,7.15,1.9,6448.5,30.0
1,2025-03-02,1690.0,70.0,46.0,249.0,45.0,63.0,7.15,1.9,6448.5,30.0
2,2025-03-03,2434.0,63.0,46.0,442.0,30.0,63.0,7.15,1.9,6448.5,30.0
3,2025-03-04,1683.0,71.0,64.0,205.0,45.0,62.0,7.15,1.9,6448.5,30.0
4,2025-03-05,1420.0,61.0,75.0,125.0,0.0,62.0,7.15,1.9,6448.5,30.0

In [8]:
weight_column = 'Weight (kg)' if 'Weight (kg)' in df.columns else 'Weight'
df['Tomorrow_Weight'] = df[weight_column].shift(-1)
df = df.dropna(subset=['Tomorrow_Weight'])
df.head()

,Date,Calories,Protein (g),Fat (g),Carbs (g),Gym (min),Weight (kg),Sleep Hours,Water Intake (L),Step Count,Exercise Minutes,Tomorrow_Weight
0,2025-03-01,2309.0,91.0,63.0,344.0,60.0,63.0,7.15,1.9,6448.5,30.0,63.0
1,2025-03-02,1690.0,70.0,46.0,249.0,45.0,63.0,7.15,1.9,6448.5,30.0,63.0
2,2025-03-03,2434.0,63.0,46.0,442.0,30.0,63.0,7.15,1.9,6448.5,30.0,62.0
3,2025-03-04,1683.0,71.0,64.0,205.0,45.0,62.0,7.15,1.9,6448.5,30.0,62.0
4,2025-03-05,1420.0,61.0,75.0,125.0,0.0,62.0,7.15,1.9,6448.5,30.0,62.0

In [9]:
features = ["Calories", "Protein (g)", "Fat (g)", "Carbs (g)", "Gym (min)", "Sleep Hours", "Water Intake (L)", "Step Count", "Exercise Minutes"]
X = df[features]
y = df['Tomorrow_Weight']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=False)
X_train.shape, X_test.shape

((56, 9), (15, 9))

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R2 Score:", r2)

Mean Squared Error: 1.9191545580239409
Mean Absolute Error: 1.2466341744481506
R2 Score: -10.994715987649638